# ==============================================================================
# PORTAINER - ENVIRONMENT VARIABLES (EXAMPLE)
# Rename this file to .env and adjust the values accordingly.
# ==============================================================================

# System Timezone
TZ=Asia/Kuala_Lumpur

# Container Name (Important for Reverse Proxy/NPM routing)
PORTAINER_CONTAINER_NAME=portainer

# Web Interface Port
PORTAINER_PORT=9000
