# ==============================================================================
# NGINX PROXY MANAGER - ENVIRONMENT VARIABLES (EXAMPLE)
# Rename this to .env and adjust the settings to fit your deployment.
# ==============================================================================

# System Timezone
TZ=Asia/Kuala_Lumpur

# --- DIRECTORY PATHS ---
# Define where NPM will store its configuration database and logs
NPM_DATA_DIR=./data
# Define where NPM will store its SSL/TLS certificates
NPM_LETSENCRYPT_DIR=./letsencrypt

# --- PORT CONFIGURATIONS ---
# Standard HTTP port (Must match your router's port forwarding)
PORT_HTTP=80
# Standard HTTPS port (Must match your router's port forwarding)
PORT_HTTPS=443
# Admin Web Dashboard Port
PORT_ADMIN=81
